/**
 * Layout styles
 */
 
// hide unloaded app parts
*[ng-cloak] {
  display: none;
}

body,
input,
textarea {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
