<div flex="100" layout-wrap layout="row">

  <div flex-xl="25" flex-lg="33" flex-md="50" flex-sm="50" flex-xs="100">
    <md-card class="newCard" ngf-select="upload($file)" ngf-drop="upload($file)"  ng-model="file" name="file" ngf-pattern="'image/jpeg'" ngf-accept="'image/jpeg'" ngf-max-size="15MB" ng-class="'state_' + state" ngf-fix-orientation="true">
      <md-card-content>
        <ng-md-icon icon="add_circle_outline" style="fill: #dadada"></ng-md-icon>
        <md-progress-linear class="indet md-accent" md-mode="indeterminate"></md-progress-linear>
        <md-progress-linear class="det" md-mode="determinate" value="{{ uploadProgress }}"></md-progress-linear>
      </md-card-content>
    </md-card>
  </div>

  <div flex-xl="25" flex-lg="33" flex-md="50" flex-sm="50" flex-xs="100" ng-repeat="(i, v) in cards" ui-view="uploadedImageCard">
  </div>

</div>
